{#Listado de expedientes con ajax#}
{% extends 'base.html.twig' %}

{% block stylesheets %}

	{{ parent() }}

	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" >

{% endblock %}
{% block title %}Listado de Legajos AJAX{% endblock %}
	{% block body_centro %}
		<h1>Listado de Legajos</h1>

		<table class="table" id="listado">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Caratula</th>


				</tr>
			</thead>
		</table>


	{% endblock %}

	{% block javascripts %}

		{{ parent() }}

		<script>
$(document).ready(function() {
    $('#listado').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": "listajax",
        "columns": [
            { "data": "exp_id" },
            { "data": "exp_carat" },
        ]

    } );
} );
		</script>
	{% endblock %}