{% extends 'base.html.twig' %}

{% block title %}Listado de Usuarios{% endblock %}
{% block body_centro %}
<h1>Listado de Usuarios</h1>



              <table class="table" id="listado">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Correo</th>
			      <th scope="col">Habilitado</th>
			    </tr>
			  </thead>
			  <tbody>
			    
			    {% for usr in usrs %}
                <tr>
			      <td><a href="{{ path('usr_show', {'usr_id': usr.getUsrId()}) }}">{{ usr.getUsrId() }}</a></td>
			      <td>{{ usr.getUsrNombre() }}</td>
			      <td>{{ usr.getUsrEmail()|default('') }}</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
            
        
{% endblock %}